* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

@font-face {
    font-family: "Norse-Bold";
    src: url("logo/Norse-Bold.otf");
}

html,
body {
  height: 100%;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

.logo {
    height: 900px;
    display: flex;
    width: 80px;
    padding-right: 600px;
    background-image: url("logo/odin-lined.png");
    background-repeat: no-repeat;
    background-color: #666;
    background-position: center;
    align-items: end;

}

.text{
    color:black;
    padding: 50px;
    text-align: center;
    background-color: rgb(106, 192, 79);
    text-transform: uppercase;

}

.card-form {
    width: 980px;
    height: 800px;
    display: flex;
    flex-direction: column;
}


html,
button,
input,
select,
textarea {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color: #666;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

input {
    outline: none;
}


/* Layout Stuff */
.comment-section {
    width: 100%;
    max-width: 760px;
    margin: 30px auto;
    margin-top: 0px;
}

h1 {
    padding: 50px;
    margin: 0;
}

#commentform {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-shadow: 0px 5px 5px 0px;
}

#commentform>[class^="comment-form"],
#commentform>.form-submit {
    position: relative;
    min-height: 1px;
    padding: 15px;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 600px) {

    #commentform>.comment-form-name,
    #commentform>.comment-form-surname,
    #commentform>.comment-form-email,
    #commentform>.comment-form-number,
    #commentform>.comment-form-password,
    #commentform>.comment-form-confirm_password  {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}


/* Form Stuff */
#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="password"] {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 7px;
    padding: 24px 10px 12px;
    font-size: 16px;
    font-size: 1rem;
    color: #0f1a03;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    background-color: #fff;
    padding: 24px 10px 12px;
    font-size: 16px;
    font-size: 1rem;
    width: 100%;
}

:focus {
    outline: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    background-color: #fff;
}


/* Label styles */
#commentform label {
    padding: 10px 0;
    font-size: 1rem;
    top: 15px;
    left: 26px;
    color: #0f1a03;
}


#commentform input:invalid {
    border: 1px solid #E5E7EB;
}

#commentform input:focus:invalid,
#commentform textarea:focus:invalid {
    background-color: transparent;
    border: 1px solid #E5E7EB;
}



#commentform input:valid{
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

#commentform input:focus:valid {
    border: 1px solid #8BC34A;
    background-color: transparent;
}

#commentform input:valid+label,
#commentform textarea:valid+label {
    color: #8BC34A;
}


#commentform input::placeholder,
#commentform textarea::placeholder {
    color: #b40e0e;
}

#commentform input::-webkit-input-placeholder {
    color: #d8d8d8;
}

#commentform input:-ms-input-placeholder,
#commentform textarea:-ms-input-placeholder {
    color: #181616;
}

#commentform input::-moz-placeholder{
    color: #1b1818;
}

#commentform button{
    background-color: #596D48;
    border-radius: 15px;
    height: 50px;
    width: 30%;
    color: white;
    border: none;
    cursor: pointer;

}

.title{
    text-align: center;
    width: 135%;
    height: 200px;
    background-color: #ece3e3ee;
    text-align: center;
    display: flex;
    align-items: center;
}

.log{
    margin-left: 130px;
}

.log a{
    color:#596D48;
    text-decoration: none;
    font-size: 1.2rem;
}

.title .tex1{
    width: 600px;
    margin-left: 150px;
    font-weight: bold;
    font-size: 1.4rem;
}